pyserial==3.5
pyserial_asyncio==0.6
six

# official protocol documentation downloading
requests

# required for cbus.toolkit.graph
pydot

# required for cmqttd
# asyncio-mqtt>=0.16  # deprecated, replaced by aiomqtt>=1.0.0
aiomqtt>=1.0.0

# required for cbz
lxml
